 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background: #ffffff;
}

 .section {
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
 }

 .Section1 {
   width: 25%;
   height: 100%;
 }

 .target {
    background: #000;
    color: antiquewhite;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 60px;
 }

 .arrow svg {
    margin-top: 40px;
 }

 .h2{
    padding-left: 30px;
    padding-top: 10px;
 }

 .Section2{
    margin-top: 100px;
 }

 .photo img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 30px;
 }

 .photo{
    display: flex;
    position: relative;
 }

 .photo h2 {
    position: absolute;
   top: 10px;
   left: 10px;
   width: 30px;
   height: 30px;
   background: #ffffff;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .photo p {
    position: absolute;
    right: 10px;
    top: 200px;
 }