*{
  margin: 0px;
  padding: 0px;
  background: #000;
}

h1{
  height: 50px;
  width: 50px;
  background: #e9e8e8;
  margin: 20px;
  margin-left: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}

button {
  height: 50px;
  width: 100px;
  background: #dcdada;
  margin: 20px;
  border-radius: 10px;
}